/* Base styles for the navbar */
.navbar {
  display: flex;
  background-image: url('https://www.bates.edu/wordpress/files/2016/07/texture-15.jpg');
  background-size: cover;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 40px;
  background-color:pink;
}

/* Styles for the navbar start section */
.navbar-start {
  display: flex;
  align-items: center;
}

/* Styles for the dropdown button */
.dropdown label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
}

.dropdown label:hover {
  border-color: var(--color-primary);
}

/* Styles for the dropdown menu */
.dropdown ul {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: rgb(50, 87, 87);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  z-index: 1;
}

.dropdown:focus-within ul,
.dropdown:hover ul {
  display: block;
}

.dropdown li {
  padding: 8px 16px;
}

.dropdown li:hover {
  background-color: var(--color-primary);
  color: rgb(5, 5, 5);
}

/* Styles for the navbar center section */
.navbar-center {
  display: flex;
  align-items: center;
  padding: auto;
}

/* Styles for the center logo/text */
.navbar-center a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-black);
}

/* Styles for the navbar end section */
.navbar-end {
  display: flex;
  align-items: center;
}

/* Styles for the circular buttons */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  margin-left: 16px;
}

.btn:hover {
  border-color: var(--color-primary);
}

/* Styles for the indicator button */
.indicator {
  position: relative;
}

.indicator-item {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the badge */
.badge {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 4px;
}

/* Styles for the badge colors */
.badge-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.text-2xl {
  font-weight: bold;
  text-align: center; /* to shift the text right */
  /* text-align: left; to shift the text left */
  margin-bottom: 4px;
}


.carousel {
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 55px;
  background-color: rgb(255, 240, 240);
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* transition: transform 0.6s ease-in-out; */
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

/* .btn-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
} */

.btn-circle:hover {
  background-color: #1d1818;
}
header {
  display: flex;
  background-image: url('https://www.bates.edu/wordpress/files/2016/07/texture-15.jpg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

a:hover {
  background-color: #e5e5e5;
  color: #000;
  border-radius: 4px;
}



